body {
    background-color: #222222;
}

* {
    color: white;
}

/*.bg-image {
    background-image: linear-gradient(to bottom, #161616, #141414, #121212, #101010);
    background-size: cover;
    filter: blur(16px);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    margin: 0;
    padding: 0;
}*/

h1 {
    text-align: center;
}

.content {
    /*background-color: #1f2523;*/
}

nav ul { /* Menü */
    list-style-type: none;
    margin: auto;
    display: table;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-weight: bold;
    height: 23px;
}

nav li a:hover {
    color: aqua;
}

.pageContent {
    margin: 20px;
}

:target {
    background-color: #0000CC;
}